<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button (click)="inputSideNav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <a mat-button routerLink="/" aria-label="fullstackhero">
      <img class="angular-logo" src="/assets/images/full-stack-hero-logo.png" alt="Angular Logo White">
      <span style="font-weight:lighter;font-size: larger;" translate>site.title</span>
    </a>
    <span class="nav-spacer"></span>

    <a mat-icon-button matTooltip="{{'site.fork'|translate}}"
      href="https://github.com/fullstackhero/angular-material-boilerplate/" target="_blank">
      <mat-icon class="fab fa-github"></mat-icon>
    </a>

    <a mat-icon-button matTooltip="{{'site.toggleDarkMode'|translate}}" (click)="toggleDarkMode()">
      <mat-icon>{{darkModeIcon}}</mat-icon>
    </a>

    <a mat-icon-button matTooltip="{{'site.support'|translate}}" href="https://www.buymeacoffee.com/codewithmukesh"
      target="_blank">
      <mat-icon class="fab fa-gratipay"></mat-icon>
    </a>
    <a mat-icon-button [matMenuTriggerFor]="userMenu">
      <mat-icon class="fas fa-user-circle"></mat-icon>
    </a>
    <mat-menu #userMenu="matMenu" style="padding-top: 0!important;">
      <mat-card style="padding-top: 16px!important;margin-bottom: 0px!important;border-radius: 0px !important;">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title style="margin-bottom: 10px;font-size:medium">{{fullName}}</mat-card-title>
          <mat-card-subtitle style="margin-bottom: 5px;font-size:small">{{email}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
      <button mat-menu-item translate routerLink="/identity/profile">userCard.profile</button>
      <button mat-menu-item routerLink="/settings" translate>userCard.settings</button>
      <button mat-menu-item (click)="openLogoutDialog()" translate>userCard.logout</button>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
